@page
@model IndexModel
@{
    ViewData["Title"] = "Darian Mh";
    ViewData["Description"] = "مشاهده تمامی شبکه های اجتماعی داریان ام اچ";
}

<div class="text-center">
    <div class="col-md-8 p-5 offset-md-2 mb-4">
        <div class="row">
            <div class="col-md-4">
                <img src="~/01-min.png" class="rounded" alt="darian mh" style="width: 200px; background-color: white;" />
            </div>
            <div class="col-md-8">
                <p class="position-absolute" style="top: 50%;">
                    I am Iranian programmer. Expert in c# and dot net framework. Founder of Darian Team. . . Personal website: Darian MH
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a href="https://darianmh.ir" target="_blank" class="btn btn-outline-light col-md-3 mr-2 mb-2">
            Darian Mh
        </a>
        <a href="https://darianteam.ir" target="_blank" class="btn btn-outline-light col-md-3 mb-2">
            Darian Team
        </a>
    </div>
    <div class="col-md-12">
        <a href="https://t.me/darian_mh" target="_blank" class="btn btn-outline-light col-md-3  mb-2 mr-2">
            Telegram
        </a>
        <a href="https://medium.com/%40smhk1376" target="_blank" class="btn btn-outline-light col-md-3  mb-2">
            Medium
        </a>
    </div>
    <div class="col-md-12">
        <a href="https://www.instagram.com/darianteam.ir" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Instagram
        </a>
        <a href="https://twitter.com/Mh_Darian" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Twitter
        </a>
        <a href="https://github.com/darianmh" target="_blank" class="btn btn-outline-light col-md-2 mb-2">
            Github
        </a>
    </div>
    <div class="col-md-12">
        <a href="https://stackoverflow.com/users/7084880/seyyed-mohammad-hosein-kashfi" target="_blank" class="btn btn-outline-light col-md-3  mb-2 mr-2">
            Stack Overflow
        </a>
        <a href="https://www.linkedin.com/in/mohammadkashfi" target="_blank" class="btn btn-outline-light col-md-3  mb-2">
            Linkedin
        </a>
    </div>
    <div class="col-md-12">
        <a href="https://www.facebook.com/darianmh.team" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Facebook
        </a>
        <a href="https://www.youtube.com/channel/UC42ncii_za0w99mbMVXW-Vw" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Youtube
        </a>
        <a href="https://www.aparat.com/darianteam.ir" target="_blank" class="btn btn-outline-light col-md-2 mb-2">
            Aparat
        </a>
    </div>
    <div class="col-md-12">
        <a href="https://virgool.io/%40darianmh" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Virgool
        </a>
        <a href="https://codepen.io/darianmh" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Codepen 
        </a>
        <a href="https://www.codechef.com/users/darianmh" target="_blank" class="btn btn-outline-light col-md-2 mb-2">
            Codechef
        </a>
    </div>
    <div class="col-md-12">
        <a href="https://auth.geeksforgeeks.org/user/darianmh" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Geeks For Geeks
        </a>
        <a href="https://dev.to/darian_mh" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Dev.to
        </a>
        <a href="https://jsfiddle.net/user/darianmh" target="_blank" class="btn btn-outline-light col-md-2 mb-2">
            JsFiddle
        </a>
    </div>
    <div class="col-md-12">
        <a href="https://dabblet.com/user/darianmh" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Dabblet
        </a>
        <a href="https://codepad.co/Darianmh" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Codepad
        </a>
        <a href="https://www.pinterest.ca/Darian_Mh" target="_blank" class="btn btn-outline-light col-md-2 mb-2">
            Pintrest
        </a>
    </div>
    <div class="col-md-12">
        <a href="https://www.reddit.com/user/This-Reputation6475" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Reddit
        </a>
        <a href="https://dribbble.com/DarianMh" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Dribbble
        </a>
        <a href="https://creativemarket.com/users/DarianMh" target="_blank" class="btn btn-outline-light col-md-2 mb-2">
            Creative market
        </a>
    </div>
    <div class="col-md-12">
        <a href="https://www.tumblr.com/blog/darianteam" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Tumblr
        </a>
        <a href="https://vimeo.com/darianmh" target="_blank" class="btn btn-outline-light col-md-2 mr-2 mb-2">
            Vimeo
        </a>
        <a href="https://www.behance.net/darianmh" target="_blank" class="btn btn-outline-light col-md-2 mb-2">
            Behance
        </a>
    </div>
</div>
